<div class="single-input" *ngIf="singleInput">

    <input (focus)="onFocus($event)" [ngModel]="inputValue" [placeholder]="placeholder">

    <div class="overlay" *ngIf="isOpen" (click)="onOverlayClick($event)"></div>

    <div class="popup" [ngClass]="{'open': isOpen}" [style.left]="leftPos">
        <abra-month-picker name="start" [(ngModel)]="value.start" (ngModelChange)="onStartPickerChange($event)" [min]="startPickerOptions?.min"
            [max]="startPickerOptions?.max" [monthClass]="startMonthClass" [showInput]="false" [keepOpen]="true" titleSuffix="From"
            [disabled]="startPickerOptions?.disabled"></abra-month-picker>


            <abra-month-picker class="end" name="end" [(ngModel)]="value.end" (ngModelChange)="onEndPickerChange($event)" [min]="endPickerOptions?.min"
                [max]="endPickerOptions?.max" [monthClass]="endMonthClass" [showInput]="false" [keepOpen]="true" titleSuffix="To"
                [disabled]="endPickerOptions?.disabled"></abra-month-picker>
    </div>
</div>
<div class="double-input" *ngIf="!singleInput">

    <abra-month-picker name="start" [(ngModel)]="value.start" (ngModelChange)="onStartPickerChange($event)" [min]="startPickerOptions?.min"
        [max]="startPickerOptions?.max" [monthClass]="startMonthClass" titleSuffix="From" placeholder="From" [disabled]="startPickerOptions?.disabled"></abra-month-picker>


        <abra-month-picker class="end" name="end" [(ngModel)]="value.end" (ngModelChange)="onEndPickerChange($event)" [min]="endPickerOptions?.min"
            [max]="endPickerOptions?.max" [monthClass]="endMonthClass" titleSuffix="To" placeholder="To" [disabled]="endPickerOptions?.disabled"></abra-month-picker>
</div>