<input (focus)="onFocus($event)" [ngModel]="inputValue" *ngIf="showInput" [placeholder]="placeholder">

<div class="overlay" *ngIf="isOpen && !keepOpen" (click)="onOverlayClick($event)"></div>

<div class="popup" [ngClass]="{'open': isOpen}" [style.left]="leftPos">
  <div class="pad">
    <div>
      <label>{{titleSuffix + ' ' + padYear}}</label>
      <i class="mp-btn prev" (click)="onGoPrevClick($event)" [class.disabled]="!isPrevYearValid"><</i>
      <i class="mp-btn next" (click)="onGoNextClick($event)" [class.disabled]="!isNextYearValid">></i>
    </div>
    <ul>
      <li *ngFor="let month of months; let index = index;" (click)="onMonthClicked(index, $event)" class="{{_monthClass(index, padYear)}}" [class.active]="isActiveMonth(index, padYear)" [class.disabled]="isDisabledMonth(index, padYear)">{{month}}</li>
      </ul>
  </div>
</div>